:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

mat-form-field,
textarea {
  width: 100%;
}

.btn {
  width: 15%;
  height: 25%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
  background-color: rgb(177, 220, 235);
}
